body {
    color: white;
}

.contact {
    position: relative;
    background: #261D1D;
    -ms-flex-order: 1;
    order: 1;
}

.accomplishment {
    background: #303030;
    -ms-flex-order: 2;
    order: 2;
}

@media only screen and (max-width: 575px) {
    .contact {
        -ms-flex-order: 2;
        order: 2;
    }
    
    .accomplishment {
        -ms-flex-order: 1;
        order: 1;
    }
}

.img-profile {
    position: relative;
    margin-top: 10px;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.container-contact {
    display: flex;
    justify-content: center;
}

.img-contact {
    height: 8rem;
    width: 8rem;
    padding: 5px;
}

@media only screen and (max-width: 1024px) {
    .img-contact {
        height: 6rem;
        width: 6rem;
        padding: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .img-contact {
        height: 4rem;
        width: 4rem;
        padding: 5px;
    }
}

.contact-only {
    display: block;
}

.contact-only-image {
    display: inline-block;
}

.accomplishment-only {
    display: none;
}

.accomplishment-only-image {
    display: none;
}

@media only screen and (max-width: 575px) {
    .contact-only {
        display: none;
    }

    .contact-only-image {
        display: none;
    }
    
    .accomplishment-only {
        display: block;
    }

    .accomplishment-only-image {
        display: inline-block;
    }

    ul {
        padding-inline-start: 0px;
    }

    .center-on-mobile {
        text-align: center;
    }
}