body {
    color: white;
}

.container-interest {
    background: #222222;
    color: white;
}

.interest {
    background: #303030;
    overflow: hidden; 
    height: 100%;
}

.img-interest {
    padding: 10px;
    float: left;
}