.navbar {
    background: #375A7F;
}

.btn-navbar {
    background: #E7D2D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 992px) {
    .btn-navbar {
        width: 100%;
    }
}

.text-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 4.5rem;
    text-align: left;
}

.text-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 2.25rem;
    text-align: left;
}

.text-paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.5rem;
    text-align: left;
}

@media only screen and (max-width: 1024px) {
    .text-header {
        font-size: 4rem;
    }
    
    .text-title {
        font-size: 2rem;
    }

    .text-paragraph {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .text-header {
        font-size: 3rem;
    }
    
    .text-title {
        font-size: 1.5rem;
    }
}

.img-profile {
    width: 20rem;
    height: 19rem;
    border-radius: 18.5rem;
    z-index: 10;
}

@media only screen and (max-width: 1024px) {
    .img-profile {
        width: 16rem;
        height: 15.5rem;
        border-radius: 15rem;
    }
}

@media only screen and (max-width: 768px) {
    .img-profile {
        width: 12rem;
        height: 11.5rem;
        border-radius: 11rem;
    }
}

.center {
    text-align: center;
}

.divider {
    width: 5px;
    height: 1.5rem;
    display: inline-block;
}

@media only screen and (max-width: 1024px) {
    .divider {
        height: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .divider {
        height: 0.75rem;
    }
}

@media only screen and (max-width: 575) {
    .divider {
        height: 0.5rem;
    }
}

.footer {
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: #375A7F;
}

@media only screen and (min-width: 576px) {
    #sticky-sidebar {
        min-height: 100vh;
    }
}

@media only screen and (max-width: 576px) {
    .order-mobile-1 {
        -ms-flex-order: 1;
        order: 1;
    }

    .order-mobile-2 {
        -ms-flex-order: 2;
        order: 2;
    }
}