body {
    color: white;
}

ul {
    padding-inline-start: 0px;
}

.personal-container {
    background: #CF2A2A;
    color: black;
}

.img-container {
    position: relative;
    width: 100%;
}

.img-header {
    position: relative;
    width: 100%;
}

.img-profile {
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.info-header {
    position: relative;
    margin-top: 6.25rem;
    margin-left: 1.5rem;
}

.info-container {
    position: relative;
    -ms-flex-order: 1;
    order: 1;
}

.desc-container {
    -ms-flex-order: 2;
    order: 2;
}

.title-container {
    -ms-flex-order: 3;
    order: 3;
}

@media only screen and (max-width: 1024px) {
    .img-profile {
        width: 16rem;
        height: 15.5rem;
        border-radius: 15rem;
    }

    .info-header {
        position: relative;
        margin-top: 4rem;
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 575px) {
    .info {
        text-align: center;
        font-size: 1.5rem;
    }

    .desc {
        text-align: center;
    }

    .info-header {
        text-align: center;
    }

    .img-profile {
        width: 10rem;
        height: 8.5rem;
        border-radius: 8rem;
    }

    .info-header {
        position: relative;
        margin-top: 3rem;
        margin-left: 0.75rem;
    }

    .info-container {
        position: relative;
        -ms-flex-order: 3;
        order: 3;
    }
    
    .title-container {
        -ms-flex-order: 1;
        order: 1;
    }
}