{% extends "ppw/base.html" %}
{% load static %}

{% block additional_css %}
        <link rel="stylesheet" href="{% static 'ppw/styles/cv.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 contact">
                <img class="img-profile contact-only-image" src="{% static 'ppw/images/Profile.jpg' %}">
                <h1 class="text-header contact-only center">CV</h1>
                <div class="divider"></div>
                <div>
                    <h2 class="text-title center-on-mobile">Contact</h1>
                    <div class="divider"></div>
                    <ul class="text-paragraph center-on-mobile" style="list-style-type:none">
                        <li>Phone : +6281999749715</li>
                        <li>Email : cahyanugraha12@gmail.com</li>
                    </ul>
                </div>
                <div class="container-contact">
                    <img class="img-contact" src="{% static 'ppw/images/facebook.png' %}" href="https://facebook.com/cahyanugraha120499">
                    <img class="img-contact" src="{% static 'ppw/images/twitter.png' %}" href="https://twitter.com/cahyanugraha12">
                    <img class="img-contact" src="{% static 'ppw/images/linkedin.png' %}" href="https://www.linkedin.com/in/cahyanugraha12">
                </div>
            </div>
            <div class="col-sm-8 accomplishment">
                <img class="img-profile accomplishment-only-image" src="{% static 'ppw/images/Profile.jpg' %}">
                <h1 class="text-header accomplishment-only center">CV</h1>
                <h1 class="text-header center-on-mobile">Pande Ketut Cahya Nugraha</h1>
                <div class="divider"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">
                            <h2 class="text-title">Skills</h2>
                            <ul class="text-paragraph">
                                <li>Java</li>
                                <li>Python</li>
                                <li>C++</li>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>NodeJS</li>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <ul class="text-paragraph">
                                <li>Django</li>
                                <li>Spring</li>
                                <li>MySQL</li>
                                <li>AWS</li>
                                <li>Terraform</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">
                            <h2 class="text-title">Education</h2>
                            <ul class="text-paragraph style="list-style-type:none"">
                                <li>Universitas Indonesia<br>
                                    Computer Science, 2017 - Present
                                </li>
                                <li>SMAN 3 Denpasar<br>
                                    2014 - 2017
                                </li>
                                <li>SMPN 3 Denpasar<br>
                                    2011 - 2014
                                </li>
                                <li>SDN 3 Kesiman<br>
                                    2005 - 2011
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <h2 class="text-title">Work Experiences</h2>
                            <ul class="text-paragraph style="list-style-type:none"">
                                <li>GDP Labs Denpasar<br>
                                    Software Engineering Intern, January 2018
                                </li>
                                <li>Bizzy Commerce Indonesia<br>
                                    SDE Intern, June 2018 - August 2018
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}