<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'personal' %}"><button type="button" class="btn btn-navbar">Personal</button></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'cv' %}"><button type="button" class="btn btn-navbar">CV</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'interest' %}"><button type="button" class="btn btn-navbar">Interest</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registration' %}"><button type="button" class="btn btn-navbar">Registration</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'personal-schedule' %}"><button type="button" class="btn btn-navbar">Personal Schedule</button></a>
            </li>
        </ul>
    </div>
</nav>