{% extends "ppw/base.html" %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'ppw/styles/interest.css' %}">
{% endblock %}

{% block content %}
    <div class="container-interest">
        <div class="container interest">
            <div class="divider"></div>
            <h1 class="text-header center">Interest</h1>
            <div class="divider"></div>
            <h2 class="text-title">Programming</h2>
            <div>
                <img class="img-interest" src="{% static 'ppw/images/programming.png' %}">
                <p class="text-paragraph">
                I first encounter programming at 7th Grade in Junior High School. I was part of the school Computer
                Club, and there i learn to write my first "Hello World" program, using Pascal. I also created some
                programs like calculator and mini-games. However, i quit the Club on 8th Grade due to grades
                problems (the coach didn't report my extracurricular grade to the homeroom teacher).
                </p>
                <p class="text-paragraph">
                I later rediscovered programming at my High School. I joined the programming Club and unexpectedly
                become the representative of my school at OSK, OSP, and OSN Informatika 2015 and 2016. My archievements
                at OSN paved my way to Universitas Indonesia.
                </p>    
            </div>
            <br>
            <h2 class="text-title">Gaming</h2>
            <div>
                <img class="img-interest" src="{% static 'ppw/images/gaming.png' %}">
                <p class="text-paragraph">
                I am addicted to gaming since Elementary School. It peaked at Junior High School, where i can spend
                more than 6 hours gaming a day. However, since High School my gaming frequency lowers due to outdated
                PC and other activities.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
