{% extends "ppw/base.html" %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'ppw/styles/personal.css' %}">
{% endblock %}

{% block content %}
    <div class="personal-container">
        <div class="img-container">
            <img class="img-header" src="{% static 'ppw/images/Header.jpg' %}">
            <img class="img-profile" src="{% static 'ppw/images/Profile.jpg' %}">
        </div>
        <div class="divider"></div>
        <div>
            <div class="container-fluid">
                <h1 class="info-header text-header">Pande Ketut Cahya Nugraha</h1>
            </div>
            <div class="divider"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 info-container"> 
                        <ul class="text-paragraph info" style="list-style-type:none">
                            <li>Birth : Denpasar, 12 April 1999</li>
                            <li>Motto : Privus, Graucus, Consuete</li>
                            <li>Email : cahyanugraha12@gmail.com</li>
                            <li>Address : Jl. Masjid Al-Farouq, Kukusan</li>
                        </ul>
                    </div>
                    <div class="col-sm-5 desc-container">
                        <p class="text-title desc">Hello! I’m a Computer Science student at Universitas Indonesia who loves coding and playing video games.</p>
                    </div>
                    <div class="col-sm-3 title-container">
                        <h2 class="text-header center">Profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}