{% extends "ppw/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 order-mobile-2">
                <div class="divider"></div>
                <h1 class="text-title">Personal Schedule</h1>
                <div class="divider"></div>
                {% for ps in ps_list %}
                    <div class="card text-white bg-primary">
                        <div class="card-header">{{ ps.activity_name }}</div>
                        <div class="card-body">
                            <ul class="fa-ul">
                                <li class="card-text"><span class="fa-li" ><i class="fas fa-calendar-alt"></i></span>{{ ps.date }}</li>
                                <li class="card-text"><span class="fa-li" ><i class="fas fa-clock"></i></span>{{ ps.time }}</li>
                                <li class="card-text"><span class="fa-li" ><i class="fas fa-map-marker-alt"></i></span>{{ ps.place }}</li>
                                <li class="card-text"><span class="fa-li" ><i class="fas fa-tag"></i></span>{{ ps.category }}</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <button type="button" class="btn btn-warning" disabled="true">Edit</button>
                                    <div class="divider"></div>
                                    <form action="{% url 'personal-schedule-detail' ps.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                {% endfor %}
            </div>
            <div class="col-sm-4 order-mobile-1" id="sticky-sidebar">
                <div class="sticky-top">
                    <div class="divider"></div>
                    <h1 class="text-title">Add New Personal Schedule!</h1>
                    <form action="{% url 'personal-schedule' %}" method="POST" class="post-form">
                        <input type="hidden" name="_method" value="POST">
                        <div class="form-group text-paragraph">
                            {% csrf_token %}
                            {{ ps_form }}
                        </div>
                        <button type="submit" class="save btn btn-primary">Save</button>
                    </form>
                    <div class="divider"></div>
                    <h1 class="text-title">Delete All Personal Schedule!</h1>
                    <form action="{% url 'personal-schedule' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Delete All</button>
                    </form>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
