{% extends "ppw/base.html" %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'ppw/styles/registration.css' %}">
{% endblock %}

{% block content %}
    <div class="registration-container">
        <div class="container">
            <h1 class="text-header">Registration</h1>
            <form>
                <div class="form-group text-paragraph">
                    <label for="registration-nama">Nama</label>
                    <input type="text" class="form-control" id="registration-nama" placeholder="Masukkan nama anda">
                </div>
                <div class="form-group text-paragraph">
                    <label for="registration-tanggal-lahir">Tanggal Lahir</label>
                    <input type="date" class="form-control" id="registration-tanggal-lahir" placeholder="Masukkan tanggal lahir anda">
                </div>
                <div class="form-group text-paragraph">
                    <label for="registration-email">Email</label>
                    <input type="email" class="form-control" id="registration-email" placeholder="Masukkan email anda">
                </div>
                <div class="form-group text-paragraph">
                    <label for="registration-username">Username</label>
                    <input type="text" class="form-control" id="registration-Username" placeholder="Masukkan username anda">
                </div>
                <div class="form-group text-paragraph">
                    <label for="registration-password">Password</label>
                    <input type="password" class="form-control" id="registration-password" placeholder="Masukkan password anda">
                </div>
                <div class="form-group text-paragraph">
                    <label for="registration-password-confirmation">Password Confirmation</label>
                    <input type="password" class="form-control" id="registration-password-confirmation" placeholder="Masukkan password anda sekali lagi">
                </div>
                <button type="submit" class="btn btn-primary text-paragraph">Register</button>
            </form>
        </div>
    </div>
{% endblock %}