{% extends "ppw/base.html" %}
{% load static %}

{% block content%}
    <div class="container">
        <h1>Welcome to Pande Ketut Cahya Nugraha PPW-E-2018</h1>
        <article><a href="/lab-1/profile" target='_blank'>Profile Saya</a></article>
        <article><a href="/lab-1/frontfriend-profile" target='_blank'>Profile Teman di Depan Saya</a></article>
        <article><a href="/lab-1/backfriend-profile" target='_blank'>Profile Teman di Belakang Saya</a></article>
    </div>
{% endblock %}
