{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>I am currently studying at {{ current_institution }}</article>
    <article>My hobbies are {{ hobbies }}</article>
    <article>{{ short_description }}</article>
    <img src="{{ MEDIA_PREFIX }}{{ photo_url }}" alt="My Photo" height="250" width="250">
    <article><a href="/" target='_blank'>Homepage</a></article>
</body>
</html>
